/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/configure~
/libaide.la
/libtool
/ltmain.sh
/aide
/autom4te.cache/
/compile
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/version.m4
/ylwrap
/.libs/
/include/config.h
/include/config.h.in
/include/stamp-h1
/src/*.lo
/src/.libs/
/src/*.o
/src/.deps/
/src/.dirstamp
/src/conf_lex.c
/src/conf_yacc.c
/src/conf_yacc.h
/src/db_lex.c

/tests/.deps/
/tests/.dirstamp
/tests/check_aide*.o
